<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
  	<h1>TicTac Game - FCC project</h1>
  	<p>omg its amazing</p>
  </body>
</html>